#assist-panel {
    line-height:30px;
    background-color:#eeeeee;
    height:100%;
    width:30%;
    float:left;
    padding:5px; 
}
#editor-panel {
    width:65%;
    float:left;
    padding:10px; 
}

#main-content{
    height:100%;
    width:100%;
}